@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
:root {
    --first-color: #d4c5b6;
    --white-color: #eaece9;
    --dark-color:#3D2314;
    --marrom: #3D2314;
    --dourado: #D4AF37;
    --fundo-escuro: #2e2e2e;
    --claro: #eee;
    --dark-color-lighten:#ffffff;
    --body-font: 'Poppins', sans-serif;
    --h2-font: 'sweet font';
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
}

body {
    background: var(--fundo-escuro);
    color: var(--claro);
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration:none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
}

header{
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    transition: all .50s ease;
    background:transparent ;
    color:#ffffff;
    font-family: 'Poppins', sans-serif;
}

#logo{
    width: 70%;
}

header.sticky{
    padding: 10px 10%;
    background: rgb(24, 24, 24)
}

.navbar{
    display: flex;
    list-style: none;
}

.navbar a{
    color: var(--other-color);
    margin-left: 60px;
    font-size: var(--p-font);
    font-weight: 550;
    border-bottom: 2px solid transparent;
}

.navbar a:hover{
    border-bottom: 2px solid #ff9100;
    color: #ff9100;
}

#menu-icon{
    color: white;
    font-size: 30px;
    margin-left: 5px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.full-width-image {
    width: 100%;
    height: 100vh; 
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-width-image img {
    width: 100%;
    height: auto; 
    max-height: 100vh; 
    object-fit: cover; 
}

.overlay-text {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center; 
    color: white; 
    background-color: #202020; 
    padding: 20px; 
    border-radius: 10px; 
}

.overlay-text h1 {
    margin: 0;
    font-size: 2.5rem; 
}

.overlay-text p {
    margin: 10px 0 0;
    font-size: 1.2rem; 
}

*, ::before, ::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background: #101010;
    color: #eee;
}

h1, p {
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* inicio css */

.hero-about {
    min-height: 100vh; 
    width: 100%;
    
    padding-top: 150px; 
    padding-bottom: 50px;
    
    background: none; 
    position: relative; 
    
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color:#2e2e2e;
    overflow: hidden; 
}

.background-image {
    position: absolute;
    top: 9px;
    left: 0;
    width: 100%;
    height: 100%;
    
    object-fit: cover; 
    z-index: 1; 
}

.hero-about::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); 
    z-index: 1; 
}

.content-container {
    width: 90%;
    max-width: 1200px;
    padding: 0 5%;
    z-index: 3; 
    position: relative; 
}

.hero-about h1 {
    font-size: 3.5rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
    color:#202020;
    margin-top: 2.5rem;
}

.hero-about h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
    color: #202020;
}

.hero-about p {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 3rem;
    max-width: 600px;
    opacity: 0.9;
    color: #202020;
}

.links-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 3rem;
}

.links-container a {
    color: #202020;
    font-size: 1.25rem;
    font-weight: 500;
    display: block;
    transition: color 0.3s;
}

.links-container a:hover {
    color: #ff9100;
}

.section-dois {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    
    padding: 0;
    background-color: var(--dark-color);
    color: var(--claro);
    
    width: 100%;
    min-height: 70vh;
}

.imagem {
    flex: 0 0 50%;
    overflow: hidden;
}

.imagem img {
    width: 80%;
    height: 95%;
    display: block;
    object-fit: cover;
}

.texto-dois {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 80px 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.texto-dois h1 {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 0.2rem;
    color: var(--dourado);
}

.texto-dois p:nth-child(2) { 
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6;
    margin-bottom: 1rem;
}

.texto-dois p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
}

.cards-section {
    padding: 80px 5%;
    background-color: var(--dark-color);
    color: var(--white-color);
    text-align: center;
}

.cards-title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 40px;
}

.cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.card {
    width: 100%; 
    max-width: 800px; 
    
    padding: 30px;
    background-color: #6f5b47;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    
    display: flex;
    flex-direction: column;
    text-align: left; 
}

.card h2 {
    font-size: 1.5rem;
    font-weight: 700; 
    margin-bottom: 10px;
    color: var(--dourado);
}

.card p {
    font-size: 1rem;
    line-height: 1.5;
    color: var(--dark-color);
    flex-grow: 1;
    margin-top: 0;
}

.section-instituto {
    display: flex;
    flex-direction: row-reverse; 
    align-items: center;
    justify-content: center;
    gap: 60px;
    
    padding: 80px 5%;
    background-color: var(--dark-color-lighten);
    color: var(--white-color);
    
    width: 100%;
    min-height: 50vh;
}

.instituto-texto {
    flex: 1;
    max-width: 500px;
    text-align: left;
}

.instituto-texto h2 {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 1rem;
    color: var(--dourado);
}

.instituto-texto p {
    font-size: 1.1rem;
    line-height: 1.7;
    color: var(--white-color);
}

.instituto-image {
    flex: 0 0 auto;
    max-width: 400px;
    border-radius: 50%; 
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.instituto-image img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.sustentabilidade {
    width: 100%;
    min-height: 70vh;
    position: relative;
    overflow: hidden;
    margin-top: 0; 
}

.background-image-sus {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    position: absolute;
    top: 0;
    left: 0;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: #202020;
    border-top: .3rem solid #ffffffab;
    font-size: 100%;
    overflow-x: hidden;
}

.footer-text p{
    font-size: 1.6rem;
    color: #eee;
    font-size: 100%;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: #D4AF37;
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover {
    transform: translatey(-8px);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: #f7f7ff;
}


@media (max-width: 768px) {
    .section-instituto {
        flex-direction: column;
        text-align: center;
        padding: 50px 5%;
        gap: 40px;
    }
    
    .instituto-texto, .instituto-image {
        max-width: 100%;
    }

    .instituto-image {
        border-radius: 15px;
        max-width: 300px;
    }
}

@media (max-width: 768px) {
    .section-dois {
        flex-direction: column;
        align-items: center;
        padding: 50px 0;
    }
    
    .imagem {
        flex: 0 0 auto;
        width: 100%;
        max-width: none;
        margin-bottom: 30px;
    }
    
    .imagem img {
        height: auto;
    }

    .texto-dois {
        flex: 0 0 auto;
        width: 100%;
        max-width: none;
        padding: 0 5%;
        text-align: center;
    }
    .texto-dois h1, .texto-dois h2 {
        text-align: center;
    }
}

@media (max-width: 1200px) {
    .about-section .section-content {
        flex-direction: column;
        text-align: center;
    }
    .about-section .about-details {
        max-width: 80%;
    }
}

@media (max-width: 992px) {
    .menu-section .menu-list {
        flex-direction: column;
        gap: 50px;
    }
    .menu-section .menu-list .menu-item {
        width: 80%;
    }
    .testimonials-section {
        padding: 30px 50px;
    }
    .testimonials-section .slider-wrapper {
        margin: 0 30px;
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        padding: 20px;
        text-align: center;
    }
    .navbar {
        display: none;
        flex-direction: column;
        width: 100%;
        background: #202020;
        position: absolute;
        top: 60px;
        left: 0;
    }
    .navbar.active {
        display: flex;
    }
    #menu-icon {
        display: block;
    }
    .about-section .about-details {
        max-width: 90%;
    }
    .retangulo {
        flex-direction: column;
        width: 90%;
        height: auto;
    }
    .esquerda, .direita {
        width: 100%;
        padding: 20px;
    }
    .avatar-container {
        width: 150px;
        height: 150px;
    }
    .input-nome {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .item .title, .item #bordatxt {
        font-size: 5rem;
        -webkit-text-stroke: 2px #ffffff;
    }
    .menu-section .menu-list .menu-item {
        width: 100%;
    }
    .section-title {
        font-size: 30px;
    }
    .testimonials-section .testimonial .user-image {
        width: 100px;
        height: 100px;
    }
    .footer {
        flex-direction: column;
        text-align: center;
    }
    .footer-text p {
        font-size: 1.2rem;
    }
}


@keyframes toActive {
    from{
        top: 100%;
        opacity: 0;
    }
}

.item.active .title{
    animation: toActive 0.5s ease-in-out 1;
}


@keyframes float {
    0% {
        transform: translate(-50%, -50%) translateY(0);
    }
    50% {
        transform: translate(-50%, -50%) translateY(-20px);
    }
    100% {
        transform: translate(-50%, -50%) translateY(0);
    }
}